@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Spartan:wght@200;300;400&display=swap');
/*font-family: 'Roboto Slab', serif;
font-family: 'Spartan', sans-serif;*/

/*PALETA DE COLORES A USAR*/
.colores{
    background-color: #266F8C #298fa6 #2999a6 #91D2D9 #a67437
}

*{
    margin: 0;
    box-sizing: 0px;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
}


body {
        background-color: #298FA6;
}
a{
        color: black;
        text-decoration: none;
        margin: 0;
        padding: 0;
        font-family: 'Spartan', sans-serif;
        font-weight: 400;
    }

h1{
    text-align: center;
    color: rgb(51, 51, 51);
    font-family: 'Spartan', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    padding: 20px 10px 10px 10px;
    background-color:rgba(145, 210, 217, 0.9);
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(53, 53, 53);
    box-shadow: 0, 2px, 2px, rgba(83, 83, 83, 0.5);
}
h2 {
    color: black;
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    font-style: normal;
    padding-top: 10px;
    margin: 10px;
}
head {
    margin-bottom: 25px;
}

.banner {
    background-color:#266F8C ;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    box-shadow: 0px 3px 3px rgb(53, 53, 53);
    box-shadow: 0, 2px, 2px, rgba(83, 83, 83, 0.5);
    height: 15vh;

}
.logo {
    top: 15px;
    width: 15%;
padding-left: 17px;
position: absolute;

}

.titulo1 {
 
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.titulo1 h2 {font-size: 50px;}
.lista {display: none;}
#check {display: none;}
.bar-btn {display: none;}
a:visited {
color: black;
}
a:hover {
background-color:#91D2D9;
border-radius: 10px;
transition: 0.6s;
height: 100%;
}
ul{
    padding-left: 0px;
    margin-bottom: 4vh;
}

nav ul {
    list-style: none;
    font-size: 0;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 50;
}
nav ul li {
    background-color: #266F86;
    border-radius: 10px;
    width: 19%;
    position: relative;
    font-size: 25px;
    color: black;
    text-align: center;
    box-shadow: 0px 2px 2px rgb(32, 32, 32);
    box-shadow: 0, 2px, 2px, rgba(0, 0, 0, 0.5);

}
nav ul li a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
    width: fit-content;
    background-color:#298FA6;
    padding: 3px;
    width: 100%;
    text-decoration: none;
    border-bottom: solid rgb(66, 66, 66) 1px;
}

ul li:hover ul {
    display: block;
    z-index: 1;
    transition: 0.8s;
}

ul ul li:hover {
    background-color: #91D2D9;
    transition: 0.8s;
}

.contenedorgrid {
    display: grid;
    grid-template-areas: 
        "descripcion imagen"; 
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 1fr;
    margin-bottom: 10vh
}
.descripcion {
    padding: 5vh;
    grid-area: descripcion;
    background-color: #91D2D9;
    margin-left: 15vh;
    margin-top: 15%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(53, 53, 53);
    box-shadow: 0, 2px, 2px, rgba(83, 83, 83, 0.5);
}
.descripcion h2 {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 2em;
}

.descripcion p {
    font-size: 1.2em

}


#a {
    width: 100%;
}
#a img{ 
    width: 30px;

}
#b {
    width: 100%;
}
#c {
    width: 100%;
}
#carouselExampleIndicators{
    width: 64%;
    margin-left: 15vh;
    margin-right: 30%;
    grid-area: imagen;
}

.contenedor2{
   display: grid;
   grid-template-areas: 
   "uno dos tres"
   "txta txtb txtc ";
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 40vh 40vh;
   padding: 5vh 10vh 5vh 10vh;
   margin: 0vh 15vh 0vh 15vh;
   grid-column-gap: 15vh;
   grid-row-gap: 6vh;
   margin-bottom: 10vh;
   background-color: rgba(48, 111, 140, 0.95);
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgb(53, 53, 53);
   box-shadow: 0, 2px, 2px, rgba(83, 83, 83, 0.5);
}
.contenedor2 h3 {
    text-align: center;
}

.uno {
    border: solid black 1px;
    background-image: url(../img/restauracion.jpg);
    background-size: cover; 
    background-position: 50% 50%;
    border-radius: 50%;
    grid-area: uno;
}
.dos {border: solid black 1px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    border-radius: 50%;
    background-position: 50% 50%;
    grid-area: dos;
}
.tres {border: solid black 1px;
    background-image: url(../img/montage.jpg);
    background-size: cover;
    border-radius: 50%;
    background-position: 50% 50%;
    grid-area: tres;
}


.txta {
    padding: 15px 20px 0 20px;
    grid-area: txta;
    background-color: rgba(145, 210, 217, 0.9);
    overflow: hidden;
    border-radius: 10px;
}
.txtb {
    padding: 15px 20px 0 20px;
    grid-area: txtb;
    background-color: rgba(145, 210, 217, 0.9);
    overflow: hidden;
    border-radius: 10px;
}
.txtc {
    padding: 15px 20px 0 20px;
    grid-area: txtc;
    background-color: rgba(145, 210, 217, 0.9);
    overflow: hidden;
    border-radius: 10px;
}

.titular{
    box-shadow: 0px 3px 3px rgb(53, 53, 53);
    box-shadow: 0, 2px, 2px, rgba(83, 83, 83, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    background-color: #266F86;
    padding-bottom: 7px;
    margin-bottom: 10vh;  
}
.imgDescripcion img {border-radius: 10%;
    border: solid rgb(87, 87, 87) 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    box-shadow: 0px 2px 2px rgb(32, 32, 32);
    box-shadow: 0, 2px, 2px, rgba(0, 0, 0, 0.5);
}

.contenedorgrid2 {
    display: grid;
    grid-template-areas: 
        "titular titular"
        "textoP videoP"
    ;
    grid-template-rows: 18vh 60vh;
    grid-template-columns: 35vw 65vw;
    height: auto;
    margin-bottom: 12vh;
    

}
.titular {
    grid-area: titular;
    margin-bottom: 10vh;
    height: 8vh;
    font-size: 40px;
}
.textoP h3{text-align: center;
margin-bottom: 3vh;}
.textoP{
    grid-area: textoP;
    margin-left: 7vw;
    margin-top: 15vh;
    background-color:#91D2D9;
    border-radius: 10px;
    padding: 4vh;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgb(53, 53, 53);
    box-shadow: 0, 2px, 2px, rgba(83, 83, 83, 0.5);
}
.videoP{
    grid-area: videoP;
    margin-left: 6vw;
}
.videoP iframe {
    width: 85%;
    height: 100%;
}

#carouselExampleCaptions {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2vh;
    border: solid 1px black;
    font-family: 'Spartan', sans-serif;
    margin-bottom: 10vh;
}

.carousel-caption{
    background-color: rgba(48, 111, 140, 0.95);
    padding: 15px;
    border: solid 1px rgba(0, 0, 0, 0.5);
}

.textoMarca {
    text-align: center;
    font-size: 45px;
}

.cajasobreNosotros {
    margin: 0 5vh 5vh 5vh;
}
.cajasobreNosotros p {
    margin-bottom: 5vh;
    background-color: #91D2D9;
    padding: 3vh 3vw;
    border-radius: 10px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logoSN {
    text-align: center;
}
.logoSN img {
    width: 100vh;
    margin-bottom: 3vh;
}

.links {
    background-color: #91D2D9;
    padding-top: 1vh;
}

@media (max-width:600px){
    .banner {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 4;
    }
    .lista {display: block;}
    .logo {display: none;}
    .bar-btn {
        cursor: pointer;
        display: block;
    }
    .banner ul {
        list-style: none;
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 100px;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        transition: all .5s;
    }
    .banner ul a{
        color: white;
        text-transform: uppercase;
        font-size: 23px;
        font-weight: 600;
    }
    .banner ul li{
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
        border-bottom: solid white 1px;
    }
    .banner li a:hover {
        color: #2999a6;
        transition: 0.8s;
    }
    .banner ul li.active {
        display: none;
    }
    #check:checked ~ .lista{
        height: 100vh;
        z-index: 999;
    }
    #check:checked ~ .lista li {
        display: block;
    }
    nav ul{display: none;}
    
    .contenedorgrid {
        display: grid;
        grid-template-areas: 
            "imagen"
            "descripcion"; 
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 0.5fr;
        margin-bottom: 10vh;
        margin-top: 23vh;
    }
    .descripcion {
        width: 80vw;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    
    #carouselExampleIndicators{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
    }
   
    .contenedor2{
        display: grid;
        grid-template-areas: 
        "uno"
        "txta"
        "dos"
        "txtb"
        "tres"
        "txtc"
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 40vh 40vh 40vh 40vh 40vh 40vh;
        padding-left: auto;
        padding-right: auto;
        grid-column-gap: 0vh;
        grid-row-gap: 0vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10vh;
        padding: 0;
        margin: 0;
     }

    .uno {
        background-image: url(../img/Mobile/background.jpg);
    }
    .dos {
        background-image: url(../img/Mobile/montageblue.jpg);
    }
    .tres {
        background-image: url(../img/Mobile/restauracion.jpg);
    }
     .contenedorgrid2 {
        display:none;
    }
}
